[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "risksetROC"]
	path = risksetROC
	url = https://github.com/cran/risksetROC
[submodule "survivalROC"]
	path = survivalROC
	url = https://github.com/cran/survivalROC
